/* resets browser default margin and padding */

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html{
  font-family: 'Source Serif Pro', serif;
  -webkit-font-smoothing: antialiased;
}

body{
	text-align: center;
  background-color: purple; /*page background color */
}

header { /* remove after project submission */
  background-color: #FFED74;
}

section { /* remove after project submission */
  background-color: #FFE2B8;
}

article { /* remove after project submission */
  background-color: #E89C6C;
}

ul{
	color: #51A39D; /* text color */
  font-family: 'Merriweather', serif; 
	text-align: center;
	list-style:none; /* removes bullets */
}

nav ul{
	position: fixed; /* makes nav sticky */
  background-color:  #333333;
  background-color: #E8C66A; /* remove after project submission */
  top: 0;
  width: 100%;
  padding: 1% 0;
}

nav ul li{
	color: #51A39D;
	display: inline;
	padding: 5px 0px 5px 30px;
}

p{
  font-family: 'Merriweather', serif; 
  margin: 5%;
}

/*sections*/

.section-title{
  color: #fff; /* section title(s) color */
  font-size:3rem;
  font-weight: 700;
  margin: 5%;
}

.intro{
  height: 100%;
  text-align: center;
}

.profile-photo{
  border-radius: 50% /* creates rounded corners vs squared corners */
}

.section-title{
  color: #fff;
  font-size: 3rem;
  font-weight: 700;
  margin: 5% 0 0 0;
}

.section-content{
	color: #B7695C;
  font-family: 'Merriweather', serif; 
  font-size: 1rem;
	font-weight: semi-bold;
  margin: 0 0 5% 0;
  padding: 2% 2% 0 2%
}

.skills{
  background-color: #7A1EA1;
  height: 100%;
  text-align: center;
}

.skills ul{
  margin: 0 0 5% 0;
}

.skills li{
  color: #fff;
  padding: 1%;
  display: inline;
}

.skills i{
  color: #51A39D;
}

.projects{
  background-color: orange;
  height: 100%;
  padding: 5% 0 0 0;
  text-align: center;
	color: #B7695C;
}

.projects-content{
  padding: 0 0 5% 0
}

/* footer */
.footer{
  font-size: 3rem;
  background-color: #333333;
  background-color: #FF957E; /* remove after project submission */
  text-align: center;
  padding: 0 0 5% 0;
}

.footer ul li{
  display: inline;
}

.footer li{
  margin: 1%
}

.footer a,i{
  font-size: 1.5rem;
  color: #51A39D;
}  

/*slogan */
#slogan{
  font-size: 2rem;
  font-weight: 400;
	font-style: italic;
	color: #51A39D;
  padding: 0% 0 5% 0;
}
